@import "../../styles/index.scss";

.App {
  background-color: #ba55d3;
  padding: 16px;
  @include borders(white, #9400d3);
}

.Header {
  background-color: #ee82ee;
  padding: 10px 12px;
  @include borders(#9a009a, #ffe1ff);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Body {
  background-color: #ee82ee;
  margin-top: 16px;
  @include borders(#9a009a, #ffe1ff);
  display: grid;
  grid-template-rows: repeat(15, 1fr);
  grid-template-columns: repeat(15, 1fr);
}
.Face {
  @include button;
  width: 65px;
  height: 65px;
  font-size: 40px;
  @include borders(#ffe1ff, #9a009a);
  display: flex;
  justify-content: center;
  cursor: pointer;
}
